
<%= form_tag(export_create_path, :method=>"post") do %>	
	<fieldset>
		<legend>Select the resources that you want to export</legend>  
		<%= check_box_tag(:profile) %>
		<%= label_tag(:profile, "Profile")%><br>
		<%= check_box_tag(:album) %>
		<%= label_tag(:album, "Albums")%><br>
		<ul>
			<% @albums.each_with_index do |album, index| %>			
			<li>
				<%= check_box_tag("albums[#{album['id']}]", :value => false) %>
				<%= label_tag("albums[#{album['id']}]", album['name']) %><br>
				<% @graph.get_connections(album['id'], 'photos').each do |photo| %>
				<%= image_tag(photo['images'][3]['source']) %>
				<% end %>										
			</li>					
			<% end %>	
		</ul>		
		<%= check_box_tag(:wall) %>
		<%= label_tag(:wall, "Wall") %><br>
		<%= check_box_tag(:friends) %>
		<%= label_tag(:friends, "Friends") %><br>
		<%= submit_tag("Export") %>
	</fieldset>
<% end %>