<% if flash[:notice] -%>
	<div class='notice'>	
		<%= flash[:notice]%>
	</div>                  
<% end %>

<%= form_tag(export_create_path, :method=>"post") do %>	
	<fieldset>
		<legend>Select the resources that you want to export</legend>  
		<%= check_box_tag(:profile) %>
		<%= label_tag(:profile, "Profile")%><br>
		<%= check_box_tag(:album) %>
		<%= label_tag(:album, "Album")%><br>
		<%= check_box_tag(:wall) %>
		<%= label_tag(:wall, "Wall")%><br>
		<%= check_box_tag(:friends) %>
		<%= label_tag(:friends, "Friends")%><br>
		<%= submit_tag("Export") %>
	</fieldset>
<% end %>